.polygon path {
  fill: #000;
  fill-opacity: .3;
}

.circle {
  fill: red;
  fill-opacity: .3;
}

.circle.intersects {
  fill: green;
}

.polygon circle {
  fill: #000;
  stroke: #fff;
  cursor: move;
}