// #example {
//     width: 960px;
//     height: 500px;
// }

.card {
    width: 235px;
    min-height: 450px;
    background: linear-gradient(#33a8d3, #0574ac);
    color: #fff;
}

.card .cap {
    padding: 3px 5px;
    background: #1a7ca9;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

.card table {
    width: 85%;
    margin: 10px auto;
}

.card td {
    width: 70%;
    vertical-align: top;
}
.card td.value {
    width: 30%;
    text-align: right;
}

.card .count-table {
    border-top: 1px solid #33a8d3;
    border-bottom: 1px solid #33a8d3;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.labelValue
{
	font-size: 60%;
	opacity: .5;
	
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
text {
  font: 12px sans-serif;
}